@use '@/styles/variables' as *;

.viewPieces {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: $color-primary;
    padding: 4rem 1rem;
    margin: 0 auto;
    min-height: 100dvh;

    .viewPiecesContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        max-width: 72rem;

        .viewPiecesItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 2rem;
            width: 100%;

            @media (max-width: 768px) {
                justify-content: center;
            }
        }
    }
}