@use '@/styles/variables' as *;

.adminProductsPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;

    .adminProductsPageContainer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
        width: 100%;
        max-width: 1200px;
        padding: 2rem 1rem 4rem;

        @media (max-width: 768px) {
            padding-top: 1rem;
        }

        .productListContainer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 245px), 1fr));
            justify-items: stretch;
            align-items: stretch;
            gap: 1.5rem;
            width: 100%;

            @media (max-width: 560px) {
                grid-template-columns: 1fr;
            }
        }
    }
}
