@use '@/styles/variables' as *;

.viewPiecesItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 500px;

    &:hover {
        .viewPiecesItemImage {
            transform: scale(1.05);
            transition: all 0.3s ease-in-out;
        }
    }

    @media (max-width: 640px) {
        width: 100%;
    }

    .viewPiecesItemPicture {
        width: 100%;
        max-width: 360px;
        height: auto;
        overflow: hidden;

        .viewPiecesItemImage {
            width: 100%;
            max-width: 360px;
            height: 290px;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }
    }

    .viewPiecesItemContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .viewPiecesItemInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
            height: 100%;
            text-align: start;

            h3 {
                font-size: $font-size-xsmall;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $color-text-secondary;
                font-weight: $font-weight-regular;
                font-family: $font-family-primary;
                margin-bottom: .5rem;
                height: 20px;
            }

            .viewPiecesItemDescription {
                font-size: $font-size-medium;
                color: $color-text-primary;
                font-weight: $font-weight-regular;
                font-family: $font-family-secondary;
                margin-bottom: 1rem;
                overflow: auto;
                height: 80px;

                /* Custom scrollbar styles */
                &::-webkit-scrollbar {
                    width: 2px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $color-text-primary;
                    border-radius: 10px;
                }

                    /* Firefox scrollbar styles */
                scrollbar-width: thin;
                scrollbar-color: $color-text-primary transparent;
            }

            .viewPiecesItemPrice {
                font-size: $font-size-medium;
                color: $color-text-primary;
                font-weight: $font-weight-regular;
                font-family: $font-family-secondary;
                width: fit-content;
            }
        }

        .viewPiecesItemButton {
            cursor: pointer;
            display: inline-block;
            color: $color-text-primary;
            font-size: $font-size-xsmall;
            font-weight: $font-weight-medium;
            background-color: transparent;
            border: none;
            line-height: 16px;
            border-bottom: 1px solid $color-text-primary;
            text-decoration: none;
            font-family: $font-family-primary;
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            letter-spacing: 0.1em;
            padding-bottom: .5rem;

            .viewPiecesItemButtonIcon {
                margin-left: 0.5rem;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border-color: $color-hover-primary;

                .viewPiecesItemButtonIcon {
                    transform: translateX(5px);
                }
            }
        }
    }
}